:root{
    --primary-color: rgb(58, 5, 55);
    --secondary-color: rgb(238, 234, 10);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: var(--primary-color);
}

.todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
    gap: 15px;
    width: 60%;
}

.todo__title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-weight: bold;
    font-size: 2rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 1px 1px 5px #000;
}

.todo__list{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todo__item{
    font-weight: bold;
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 60px;
    box-shadow: 1px 1px 5px #fff;
}



.todo__item > div{
    width: 85%;
    font-size: 1.4rem;
}

.todo__item > input[type='button'],
.todo__item > input[type='checkbox']{
    width: 30px;
    font: inherit;
    height: 30px;
    accent-color: #ff4d6e;
}

.todo__item > input[type="checkbox"]:checked + div {
    text-decoration: line-through;
}

.todo__item:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: .5s ease;
}


.todo__new-item{
    box-shadow: 1px 1px 5px #fff;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 8px 0;
}

.todo__new-item > input{
    width: 85%;
    background-color: hsl(303, 100%, 85%);
    font-size: 1.2rem;
}

.todo__new-item > input::placeholder{
    font-style: italic;
    font-size: 1.25rem;
}